name: Build and deploy docs

on:
  push:
    branches:
      - main
    paths:
      - src/**
      - docs/**
      - .github/actions/setup_env/action.yml
      - .github/workflows/docs.yml

jobs:
  deploy_github_pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout self repository
        uses: actions/checkout@v3

      - name: Setup environment
        uses: ./.github/actions/setup_env

      # # TODO: Move to action.yml.
      # - name: Make .venv if it doesn't exist
      #   run: |
      #     if [ ! -d .venv ]; then
      #       poetry install
      #     fi

      - name: Build docs
        run: |
          source .venv/bin/activate
          cd docs
          make html

      - name: Deploy to GitHub Pages
        uses: maxheld83/ghpages@v0.3.0
        env:
          BUILD_DIR: docs/build/html
          GH_PAT: ${{ secrets.GH_PAT }}
