name: Test

on:
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - .github/actions/setup_env/action.yml
      - .github/workflows/test.yml

jobs:  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout self repository
        uses: actions/checkout@v3

      - name: Setup environment
        uses: ./.github/actions/setup_env
      
      # # TODO: Move to action.yml.
      # - name: Make .venv if it doesn't exist
      #   run: |
      #     if [ ! -d .venv ]; then
      #       poetry install
      #     fi 

      - name: Execute pytest
        run: |
          source .venv/bin/activate
          pytest
